#entete{
	border:2px black solid;
	text-align: center;
	height: 450px ;

}

.pmenu{

	padding: 0;
	margin: 0;
	list-style: none;
	display: column;
	justify-content: space-around;


}

#nav {
	float: right;
	margin: 0 ;
	padding: 0;
}
#nav li {
	display: inline;
	list-style: none;
	color:black;
	border:2px black solid;
}

.logo1{
	float: left;


}

.logo2{
	text-align: center;
	padding: 50px;



}

.bloc{

	border: 2px black solid;
	float: right;
}

.container {

	padding: 5px;
	width: 100px;
	height: 50px;
	margin-top: 10px;

	/*line-height: 150px;*/
	text-align:justify;


}

.items{

	padding: 0;
	margin: 0;
	list-style: none;

	/*display: -webkit-box;*/
	/*display: -moz-box;*/
	/*display: -ms-flexbox;*/
	/*display: -webkit-flex;*/
	display: flex;

	/*-webkit-flex-flow: row wrap;*/
	justify-content: space-around;
	text-align: center;
	height: 800px;
}
.p{
	width: 500px;
	margin: 3px;

}

.bouton a{
	display:block;
	width:auto;
	margin:auto
	padding:100px;
	/*line-height:50px;*/
	/*vertical-align:middle;*/
	color:black;
	text-decoration:none;
	text-align:center;
}
.bouton  {
	border:1px outset black;
	box-shadow: 2px 2px 2px;

}


.aboutus{
	
	border: 2px black solid;


}
.pus{
	text-align:justify;
	width: 500px;
	margin-left: 200px;

}
.imgus{
	
	float:right;
	margin: 3px;
	width: 500px;
	padding:100px;
}

.contactus{
	border: 3px black solid;

}

.pcontactus{

	text-align:justify;
	width: 500px;
	margin-left: 200px;
}
.span{
	font-style: x-large;
}

.map{
float:right;
	margin: 3px;
	width: 500px;
	padding:100px;
	
}